@media print
{    
  .no-print, .no-print *
  {
    display: none !important;
  }
}
body {
  background-color: #fff;
  overflow-y:scroll;
}
.container div {
  /*border: 1px solid red;*/
}
.pagination {
  margin: 0 0 -5px 0;
  padding: 0;
}
.panel-footer {
  padding: 3px;
}
.list-group {
  /*min-height: 550px;*/
}
.jtable_text {
  display:inline-block;
  vertical-align: top;
  padding: 7px 2px 0 5px;
  font-size: smaller;
  color: #555;
  font-family: courier;
}
.jtable_select {
  vertical-align: top;
  margin-top: 1px;
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  color: #428bca;
}
.float_right {
  float: right;
}
.alert {
  margin-bottom: 0;
}

#jtable_div a,.panel-heading a{
  color:#fff;
}

select{
  color: #000;
}

.sidePanel{
  display: none;
}

#homePanel{
  display: block;
}
.home-icon{
  width: 405px;
  float: left;
}

.home-icon li{
  margin: 30px 5px 30px 5px;
}

.jtable-title{
  border-radius: 4px 4px 0 0;
}
#theTimer{
  float:right;
}

.profileAndTest{
  margin-top: 30px;
}

.right{
  float: right;
}
.result_label{
  display: none;
}
.printExamIcon,.testsListIcon{
  cursor:pointer;
}
.clear{
  clear: both;
}
